body{
    background-color: #cccccc;
    text-align: center;
}
.player_one{
    width: 90%;
    background-color: white;
   display: inline-block;
   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.player_two{
    width: 50%;
    background-color: white;
    justify-content: center;
}